name: CMake CI (Linux)

on:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        preset: [
            linux-clang-release
        ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ninja
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build

      - name: Install Clang
        if: contains(matrix.preset, 'clang')
        run: |
          sudo apt-get install -y llvm clang

      - name: Configure CMake
        run: cmake --preset=${{ matrix.preset }}

      - name: Build
        run: cmake --build --preset=${{ matrix.preset }} -- -j$(nproc)

      - name: Show files
        run: tree -a build/bin/bin || true

